 @model IEnumerable<IndividualNorthwindEshop.Models.Supplier>

@{
    ViewData["Title"] = "Suppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Employee") || User.IsInRole("Manager"))
{
    <div class="container mt-4">
        <h1 class="mb-4">Suppliers</h1>
        <div class="text-right mb-3">
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
                        <th>@Html.DisplayNameFor(model => model.ContactName)</th>
                        <th class="d-none d-lg-table-cell">@Html.DisplayNameFor(model => model.ContactTitle)</th>
                        <th class="d-none d-lg-table-cell">@Html.DisplayNameFor(model => model.Address)</th>
                        <th>@Html.DisplayNameFor(model => model.City)</th>
                        <th class="d-none d-md-table-cell">@Html.DisplayNameFor(model => model.Region)</th>
                        <th class="d-none d-md-table-cell">@Html.DisplayNameFor(model => model.PostalCode)</th>
                        <th>@Html.DisplayNameFor(model => model.Country)</th>
                        <th>@Html.DisplayNameFor(model => model.Phone)</th>
                        
                        <th class="d-none d-lg-table-cell">@Html.DisplayNameFor(model => model.HomePage)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                            <td>@Html.DisplayFor(modelItem => item.ContactName)</td>
                            <td class="d-none d-lg-table-cell">@Html.DisplayFor(modelItem => item.ContactTitle)</td>
                            <td class="d-none d-lg-table-cell">@Html.DisplayFor(modelItem => item.Address)</td>
                            <td>@Html.DisplayFor(modelItem => item.City)</td>
                            <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.Region)</td>
                            <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.PostalCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.Country)</td>
                            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                            
                            <td class="d-none d-lg-table-cell">
                                <a href="@item.HomePage" target="_blank" title="@item.HomePage">Visit</a>
                            </td>
                            <td>
                                
                                    <a asp-action="Edit" asp-route-id="@item.SupplierId" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.SupplierId" class="btn btn-sm btn-outline-info">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.SupplierId" class="btn btn-sm btn-outline-danger">Delete</a>
                                
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


