@model IEnumerable<CommonData.Models.Territory>

@{
    ViewData["Title"] = "Territories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Employee") || User.IsInRole("Manager"))
{
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h2 class="mb-3">Territories</h2>
            </div>
            <div class="col text-right">
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TerritoryDescription)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Region.RegionDescription) 
                        </th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TerritoryDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Region.RegionDescription) 
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.TerritoryId" class="btn btn-sm btn-secondary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.TerritoryId" class="btn btn-sm btn-info">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.TerritoryId" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

