@* @model IndividualNorthwindEshop.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipViaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipViaNavigation.ShipperId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@
 @model IndividualNorthwindEshop.Models.Order

@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>Order Details</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">Date Ordered:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.OrderDate)</dd>

                <dt class="col-sm-4">Date Shipped:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ShippedDate)</dd>

                <dt class="col-sm-4">Freight:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Freight)</dd>

                <dt class="col-sm-4">Ship Name:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ShipName)</dd>

                <dt class="col-sm-4">Address:</dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ShipAddress)<br>
                    @Html.DisplayFor(model => model.ShipCity),
                    @Html.DisplayFor(model => model.ShipRegion)
                    @Html.DisplayFor(model => model.ShipPostalCode)<br>
                    @Html.DisplayFor(model => model.ShipCountry)
                </dd>

                <!-- Additional fields here -->

                <dt class="col-sm-4">Customer ID:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Customer.CustomerId)</dd>

                <dt class="col-sm-4">Employee ID:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Employee.EmployeeId)</dd>

                <dt class="col-sm-4">Courier ID:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ShipViaNavigation.ShipperId)</dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>

@section Styles {
    <style>
        .container {
            max-width: 800px;
        }

        .card-header {
            font-size: 1.5em;
        }

        dl.row dt {
            text-align: left;
            font-weight: bold;
        }

        dl.row dd {
            margin-bottom: 10px;
        }

        .card-footer {
            text-align: right;
        }
    </style>
}

