 @model IEnumerable<IndividualNorthwindEshop.Models.Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>

@if (User.IsInRole("Employee") || User.IsInRole("Manager"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="@Url.Action("ProductsByCategories", new { categoryId = item.CategoryId })">
                    <img src="@Url.Action("GetEmployeePhoto", "Categories", new { id = item.CategoryId })" alt="@item.CategoryName" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@item.CategoryName</h5>
                    <p class="card-text">@item.Description</p>
                    <div class="d-flex justify-content-between">
                        @if (User.IsInRole("Employee") || User.IsInRole("Manager"))
                        {
                            <a href="@Url.Action("Details", new { id = item.CategoryId })" class="btn btn-info">Details</a>
                            <a href="@Url.Action("Edit", new { id = item.CategoryId })" class="btn btn-primary">Edit</a>
                            <a href="@Url.Action("Delete", new { id = item.CategoryId })" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

